body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background: #555;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar {
  background: #222;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
